fastapi
uvicorn[standard]
python-dotenv
websockets
openai
sqlalchemy
alembic
passlib
bcrypt==4.0.1
jinja2
psycopg2-binary
redis
rq
stripe
sentry-sdk
structlog
itsdangerous==2.2.0
python-multipart==0.0.21
httpx
twilio
